*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


.top{
    padding:10px 20px;
    color:red;
}


.hero{
    background-color:red;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px 100px;
}

.hero h1{
    font-size:80px;
    margin-bottom:30px;
}

.hero p{
    max-width:500px;
}

.hero img{
    width:200px;
}


.cards{
    display:flex;
}

.cards section{
    flex:1;
    padding:60px;
    color:white;
    background-color:#7a0d0d;
    border-right:1px solid red;
}

.cards section:nth-child(2){
    background-color:#8b1111;
}

.cards section:nth-child(3){
    background-color:#9c1515;
    border-right:none;
}

.cards h3{
    margin-bottom:30px;
}

.cards p{
    font-size:20px;
}


.cards{
    display:flex;
    min-height:350px;   
}


.cards section{
    flex:1;
    padding:100px 100px;   
    color:white;
    background-color:#7a0d0d;
    border-right:1px solid red;
}


.cards p{
    margin-top:15px;
    line-height:3;
}